body {
    font-family : 'Raleway', sans-serif;
    margin: 0;
    background-color: #d8effe;
}

.banner {
    font-size: 1.2em;
    display: flex;

    background-color: #005e9e;
    color: #fff;
    padding: 0.2em;
    align-items: center;
}

.banner p {
    font-weight: 600;
    flex : 1;
}

#logo {
    height: 3em;
    margin: 0.5em;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    font-size : 1.2em;
}

#social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 2.3em;
}

#content {
    height : 100%;

    background-image: url(../ressources/mines.svg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;

    
    align-items: center;
    justify-content: center;
    
}